<footer class="site-footer purple lighten-4">

  <div class="container">

    <div class="row">
      <div class="col s6">
        <p>
          Untuk malumat lanjut hubungi <strong>citycarpark helpline</strong><br />
          <a href="#" onclick="event.preventDefault()">{{ site.cs_phone }}</a><br />
          atau e-mel ke Pusat Khidmat Pelanggan<br />
          <a href="mailto:{{ site.cs_email }}">{{ site.cs_email }}</a>
        </p>
      </div>

      <div class="col s6">
        <ul>
          <li><a href="#">Polisi</a></li>
          <li><a href="#">Kadar Parkir</a></li>
          <li><a href="#">Terma &amp; Syarat</a></li>
        </ul>
      </div>

    </div>

  </div>

</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/assets/js/bin/materialize.min.js"></script>
<script type="text/javascript" src="/assets/js/scripts.js"></script>
