<header class="site-header" role="banner">

  <nav>
    <div class="nav-wrapper">

      <div class="container">

        <a class="brand-logo" href="/"><img src="/assets/images/ccp_logo.png" alt="City Car Park Logo" height="50px"></a>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

        <ul class="right hide-on-med-and-down">
          {% if site.lang == "ms"}
            {% include nav-main.ms.html %}
          {% else %}
            {% include nav-main.en.html %}
          {% endif %}
        </ul>

        <ul id="nav-mobile" class="side-nav">
          {% include nav-main-mobile.ms.html %}
        </ul>

      </div>

    </div>
  </nav>

</header>
