<header class="site-header" role="banner">

  <nav>
    <div class="nav-wrapper">

      <div class="container">

        <a class="brand-logo" href="/">
          <img src="/assets/images/ccp_logo.png" alt="City Car Park Logo" height="50px">
          <img src="/assets/images/logo/majlis-perbandaran-jasin.jpg" alt="Majlis Perbandaran Jasin" height="60px" style="padding-top: 5px">
        </a>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

        <ul class="right hide-on-med-and-down">
          {% include nav-main.html %}
        </ul>

        <ul id="nav-mobile" class="side-nav">
          {% include nav-main-mobile.html %}
        </ul>

      </div>

    </div>
  </nav>

</header>
