<li class="active"><a href="#">Utama</a></li>
<li><a href="#">Perkhidmatan</a></li>
<li><div class="divider"></div></li>
<li><a class="subheader" href="#">Produk</a>
  <ul>
    <li><a href="#">CWT Terminal</a></li>
    <li><a href="#">Applikasi Telefon Pintar</a></li>
    <li><a href="#">Pas Bulanan Digital</a></li>
    <li><a href="#">Petak Khas</a></li>
  </ul>
</li>
<li><div class="divider"></div></li>
<li><a class="subheader" href="#">Operasi</a>
  <ul>
    <li><a href="#">Terminal</a></li>
    <li><a href="#">Pas Bulanan Digital</a></li>
    <li><a href="#">Petak Khas</a></li>
    <li><a href="#">Kompaun</a></li>
    <li><a href="#">Kadar</a></li>
  </ul>
</li>
<li><div class="divider"></div></li>
<li><a href="#">Hubungi</a></li>
