---
layout: default
---
<article class="post">

  <div class="carousel carousel-slider">
    <div class="carousel-item" href="#1"><img src="/assets/images/carousel/banner_1.jpg" alt=""></div>
    <div class="carousel-item" href="#2"><img src="/assets/images/carousel/banner_2.jpg" alt=""></div>
    <div class="carousel-item" href="#3"><img src="/assets/images/carousel/banner_3.jpg" alt=""></div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col s12">{{ content }}</div>
    </div>
  </div>

</article>
